
$blue: #24465a;
$green: rgb(64, 119, 81);
$body-bg: #f5f5f5;
$black: rgb(59, 59, 59);
$primary: $black;
$enable-rounded: false;
$font-family-monospace: "IBM Plex Mono", monospace;;
$font-family-sans-serif: "IBM Plex Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 0.98rem;
$h1-font-size: $font-size-base * 1.30;
$h2-font-size: $font-size-base;
$h3-font-size: $font-size-base;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base * 0.95;
$h6-font-size: $font-size-base * 0.85;
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1540px );
$font-size-lg: $font-size-base * 1.15;