{{ define "main" }}
{{ $photoignore := .Site.Params.categoriesIgnorePhotosPage }}

<div class="d-flex justify-content-center" id="photo-spinner">
  <div class="spinner-border text-primary" role="status"></div>
</div>

{{- $pagesWithPhotos := where .Site.Pages "Params.photos" "!=" nil -}}
{{- $filteredPages := slice -}}

{{- range $page := $pagesWithPhotos -}}
  {{- $ignore := false -}}
  {{- range $category := $photoignore -}}
    {{- if in $page.Params.categories $category -}}
      {{- $ignore = true -}}
    {{- end -}}
  {{- end -}}
  {{- if not $ignore -}}
    {{- $filteredPages = $filteredPages | append $page -}}
  {{- end -}}
{{- end -}}

{{- $list := $filteredPages -}}

<div class="grid" id="photo-grid" style="display: none;">
  {{- $len := (len $list) -}}
  {{ range $index, $value := $list }}
    <div class="grid-item">
      <a href="{{ .Permalink }}">
        {{ range first 1 .Params.photos }}
          <img src="{{ . }}" alt="" class="photos-grid-item w-100" loading="lazy" />
        {{ end }}
      </a>
    </div>
  {{ end }}
</div>

{{ end }}