<div class="d-flex p-2">
    <img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Author.name }}" width="128" height="128" class="rounded-circle">
</div>

<div class="d-flex p-2">
    <a class="no-under" href="/">
        <h1 class="card-title mb-0">{{ .Site.Title }}</h1>
    </a>
</div>

{{- if .Site.Params.showTagline -}}
<div class="p-2">
    <h2 class="mb-0">{{ .Site.Params.tagline }}</h2>
</div>
{{- end -}}

<div class="p-2 d-flex justify-content-start flex-wrap social-icons">
    {{ partial "social-icons.html" . }}
</div>

<div class="pt-2">
    {{ $url := .RelPermalink }}<!-- we will need this to determine if links are active -->
    <li class="px-2 mb-3 list-unstyled">
        <a class="{{ if .IsHome }}home-active{{ end }}" href="/">Home</a>
    </li>
    {{ range .Site.Menus.main }}
    <li class="px-2 mb-3 list-unstyled">
        {{ if .Page.Params.redirect }}
        <a class="{{ if eq .URL $url }}home-active{{ end }}" href="{{ .Page.Params.redirect }}">{{ .Name }}</a>
        {{ else }}
        <a class="{{ if eq .URL $url }}home-active{{ end }}" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
        {{ end }}
    </li>
    {{ end }}
</div>
    